In [1]:
import pandas as pd
import numpy as np

In [2]:
character = pd.read_csv("character.csv")
character

               0          1
0           Will        NaN
1        Chuckie        NaN
2        Lambeau        NaN
3            Tom        NaN
4          Cathy        NaN
5         Morgan        NaN
6          Billy        NaN
7         Skylar        NaN
8          Clark        NaN
9           Head  Custodian
10         Judge     Malone
11    Prosecutor        NaN
12  Psychologist        NaN
13     Hypnotist        NaN
14          Sean        NaN
15         Timmy        NaN

In [3]:
character_li = character.drop_duplicates().values.tolist()
character_li = sum(character_li, [])
kw_character = ['character', 'characters', 'characterization', 'role', 'roles'] + character_li

In [4]:
for i in range(0, 100):
    target = "after_slicing/%r.csv" %i
    df = pd.read_csv(target, header=None)
    df.columns = ["RV"]
    
    f_list = []
    character = []
    
    for j in range(len(df)):
        f_list.append(df.RV[j])
        f_list[j] = f_list[j].split(" ")
    
    for j in range(len(f_list)):
        for keywords in kw_character:
            for k in range(len(f_list[j])):
                if keywords == f_list[j][k]:
                    character.append(f_list[j])
                    
    for j in range(len(character)):
        character[j] = " ".join(character[j])
        
    character = pd.DataFrame(character)
    character.to_csv("feature_assign/character/%r.csv" %i, index=False)